html, body {
  height: 100%;
  width: 100%; /* Fait en sorte que html et body prennent toute la hauteur */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Affichage en colonne */
  align-items: center;
  justify-content: space-between; /* Centre le contenu verticalement et horizontalement */
  
  min-height: 100vh; /* S'assure que le body prend au minimum toute la hauteur de la vue */
  a {
    text-decoration: none; /* Enlève le soulignement des liens */
    color: inherit; /* Hérite de la couleur du parent */
  }
}

.body {
  background: repeating-conic-gradient(
    from 45deg,
    #a37fb1 0% 25%,
    #604566 0% 50%
  );
  background-size: max(10vw, 10svh) max(10vw, 10svh);

  display: flex; /* Transforme le body en conteneur flex */
  flex-direction: column; /* Affichage en colonne */
  min-height: 100vh; /* S'assure que le body prend au minimum toute la hauteur de la vue */

  animation: background 0.5s ease-in-out; /* Animation de transition pour le fond */
}


header {
  font-size: 20px;
  height: 90px;
  min-height: 90px;
  width: calc(100% - 80px);
  color: rgb(201, 156, 207);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-direction: row;
  background: #433147d8;
  margin:20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.blur::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* Pour Safari */
  z-index: -1; /* Assure que le fond est derrière le contenu */
}

.blur {
  position: relative; /* Nécessaire pour le positionnement du pseudo-élément */
}

footer {
  font-size: 20px;
  height: 90px;
  min-height: 90px;
  width: calc(100% - 80px);


  color: rgb(201, 156, 207);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-direction: row;

  background: #433147d8;

  margin:20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  font-size: 0.875rem;
  p {
    width: 100%;
    text-align: center;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: auto;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;

  gap: 20px; /* Espace entre les cartes */
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }
}

.card {
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 10px;

  text-decoration: none;
  color: rgb(201, 156, 207);

  background: #433147d8;

  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out, margin 0.3s ease-in-out;

  cursor: pointer;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.card:hover {
  transform: scale(1.05);
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out, margin 0.3s ease-in-out;

  margin: 7px;
}

.card::before {
  border-radius: 10px;
}



.card-image {
  height: 200px;
  width: 200px;

  border-radius: 10px;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: auto;
  width: 1000px;
  cursor: default;

  gap: 30px; /* Espace entre les éléments de la carte */

  h1 {
    color: white;
  }
}

.info.card {
  min-width: 500px;
  width: auto;
  height: auto;

  h2 {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  p {
    font-size: 16px;
    text-align: center;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes de largeur égale */
    gap: 20px;
    width: 500px;

    .card {
      h3 {
        font-size: 18px;
        color: rgb(255, 255, 255);
        text-align: center;
      }
      background-color: #FFFFFF00;
      width: calc(100% - 40px); /* Les cartes prennent toute la largeur de la colonne */
      height: 200px; /* Hauteur automatique pour s'adapter au contenu */
    }
  }
}

